<div id="recipe-title-div">
    <h1 id="recipe-title"> Add Recipe</h1> 
</div>

<div class="recipe_input">
	<form action="/insert-recipe" method="get"> 
		Name:<input type="text" name="name"><br>
		Serving Size:<input type="number" name="serving_size"><br>
		Cook Time:<input type="number" name="cook_time"><br>
		Instructions:<input type="text" name="instructions"><br>
		<input type="submit">
	</form>
</div>